# Amazon Products 2023 (1.4M Products)

## Dataset
Due to the dataset exceeding 100 MiB which GitHub blocks files larger than 100 MiB please see the below link to the full dataset.

https://www.kaggle.com/datasets/asaniczka/amazon-products-dataset-2023-1-4m-products/data

Project Goal:
EDA with python

also create tableau dashboard.

Planning:

Conduct EDA for Amazon products
join the two datasets together.
identify patterns & trends 
explore  any correlations in the data
viz findings

# Project Object
project ideas:
- which cateogires drive the most sales?
- Identify which niches are the easiest to make sales in?
- do customer ratings have much impact on sales?

reworded:
- <b>Analyze Sales Performance Across Categories:</b> Identify which product categories contribute the most to total sales.

- <b>Determine Profitable Niches:</b> Explore which niches have the highest conversion rates and consistent sales trends.

- <b>Assess the Impact of Customer Ratings on Sales:</b> Investigate whether higher-rated products generate more sales compared to lower-rated ones.

# Step 1: Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import csv

# Step 2: Load Datasets

In [2]:
# loading datasets
categories_df = pd.read_csv("C:\\Users\\Tim\\OneDrive\\Documents\\Projects\\Amazon Products 2023\\amazon_categories.csv")
products_df = pd.read_csv("C:\\Users\\Tim\\OneDrive\\Documents\Projects\\Amazon Products 2023\\amazon_products.csv")

In [3]:
# view first few rows of each dataset
categories_df.head()

   id                     category_name
0   1          Beading & Jewelry Making
1   2                 Fabric Decorating
2   3       Knitting & Crochet Supplies
3   4              Printmaking Supplies
4   5  Scrapbooking & Stamping Supplies

In [4]:
products_df.head()

,asin,title,imgUrl,productURL,stars,reviews,price,listPrice,category_id,isBestSeller,boughtInLastMonth
0,B014TMV5YE,"Sion Softside Expandable Roller Luggage, Black...",https://m.media-amazon.com/images/I/815dLQKYIY...,https://www.amazon.com/dp/B014TMV5YE,4.5,0,139.99,0.00,104,False,2000
1,B07GDLCQXV,Luggage Sets Expandable PC+ABS Durable Suitcas...,https://m.media-amazon.com/images/I/81bQlm7vf6...,https://www.amazon.com/dp/B07GDLCQXV,4.5,0,169.99,209.99,104,False,1000
2,B07XSCCZYG,Platinum Elite Softside Expandable Checked Lug...,https://m.media-amazon.com/images/I/71EA35zvJB...,https://www.amazon.com/dp/B07XSCCZYG,4.6,0,365.49,429.99,104,False,300
3,B08MVFKGJM,Freeform Hardside Expandable with Double Spinn...,https://m.media-amazon.com/images/I/91k6NYLQyI...,https://www.amazon.com/dp/B08MVFKGJM,4.6,0,291.59,354.37,104,False,400
4,B01DJLKZBA,Winfield 2 Hardside Expandable Luggage with Sp...,https://m.media-amazon.com/images/I/61NJoaZcP9...,https://www.amazon.com/dp/B01DJLKZBA,4.5,0,174.99,309.99,104,False,400

# Step 3: Data Cleaning

In [20]:
# Check the number of rows and columns.
cat_rows = categories_df.shape[0] # Gives num of rows
cat_col = categories_df.shape[1] # gives num of cols
prod_row = products_df.shape[0] # Gives num of rows
prod_col = products_df.shape[1] # gives num of cols

print("categories_df Row Count: " + str(cat_rows))
print("cateogires_df column Count: " + str(cat_col))

print("products_df Row Count: " + str(prod_row))
print("products_df Column Count: " + str(prod_col))

categories_df Row Count: 248
cateogires_df column Count: 2
products_df Row Count: 1426337
products_df Column Count: 11

In [21]:
# Identify any missing values
print(categories_df.isnull().sum())
print(products_df.isnull().sum())

id               0
category_name    0
dtype: int64
asin                 0
title                1
imgUrl               0
productURL           0
stars                0
reviews              0
price                0
listPrice            0
category_id          0
isBestSeller         0
boughtInLastMonth    0
dtype: int64

In [ ]:
# find the null value in products_df 
missing_title = products_df[products_df['title'].isnull()]
print(missing_title)

               asin title                                             imgUrl  \
1206102  B00758A9CE   NaN  https://m.media-amazon.com/images/I/71+50RU8o2...

                                   productURL  stars  reviews  price  \
1206102  https://www.amazon.com/dp/B00758A9CE    5.0        0  33.08

         listPrice  category_id  isBestSeller  boughtInLastMonth
1206102        0.0           19         False                  0

In [ ]:
# Use other information to try fill the missing title name.
products_df.loc[products_df['stars'] == '4.5'] 
# up to here!!

# print(othertitle)

Empty DataFrame
Columns: [asin, title, imgUrl, productURL, stars, reviews, price, listPrice, category_id, isBestSeller, boughtInLastMonth]
Index: []

In [43]:
# Identify Missing value in the 'title' column
missing_title = pd.notnull(products_df["title"])

# Filtering rows where 'title' is missing
missing_title_data = products_df[missing_title]

print(missing_title_data)

               asin                                              title  \
0        B014TMV5YE  Sion Softside Expandable Roller Luggage, Black...
1        B07GDLCQXV  Luggage Sets Expandable PC+ABS Durable Suitcas...
2        B07XSCCZYG  Platinum Elite Softside Expandable Checked Lug...
3        B08MVFKGJM  Freeform Hardside Expandable with Double Spinn...
4        B01DJLKZBA  Winfield 2 Hardside Expandable Luggage with Sp...
...             ...                                                ...
1426332  B00R3LIKCO  American Flag Patriotic USA Classic 5 Panel Me...
1426333  B098BQ7ZQ3  Men's Baseball Cap - H2O-DRI Line Up Curved Br...
1426334  B07X1MVNT1  [4 Pack] Adjustable Eyeglasses and Sunglasses ...
1426335  B08XLBG8V9                          Ax2002 Aviator Sunglasses
1426336  B07GH67QC8  in Hoc Signo Vinces Knights Templar Masonic Em...

                                                    imgUrl  \
0        https://m.media-amazon.com/images/I/815dLQKYIY...
1        https://m.media-amazon.com/images/I/81bQlm7vf6...
2        https://m.media-amazon.com/images/I/71EA35zvJB...
3        https://m.media-amazon.com/images/I/91k6NYLQyI...
4        https://m.media-amazon.com/images/I/61NJoaZcP9...
...                                                    ...
1426332  https://m.media-amazon.com/images/I/71PDJFz6AA...
1426333  https://m.media-amazon.com/images/I/812Tycexs4...
1426334  https://m.media-amazon.com/images/I/61vvYW1S9J...
1426335  https://m.media-amazon.com/images/I/51+yjD4F1x...
1426336  https://m.media-amazon.com/images/I/91Kt2KQf0E...

                                   productURL  stars  reviews   price  \
0        https://www.amazon.com/dp/B014TMV5YE    4.5        0  139.99
1        https://www.amazon.com/dp/B07GDLCQXV    4.5        0  169.99
2        https://www.amazon.com/dp/B07XSCCZYG    4.6        0  365.49
3        https://www.amazon.com/dp/B08MVFKGJM    4.6        0  291.59
4        https://www.amazon.com/dp/B01DJLKZBA    4.5        0  174.99
...                                       ...    ...      ...     ...
1426332  https://www.amazon.com/dp/B00R3LIKCO    4.2        0   14.95
1426333  https://www.amazon.com/dp/B098BQ7ZQ3    4.4        0   33.99
1426334  https://www.amazon.com/dp/B07X1MVNT1    3.6        0    8.54
1426335  https://www.amazon.com/dp/B08XLBG8V9    4.5        0   54.36
1426336  https://www.amazon.com/dp/B07GH67QC8    4.9        0   18.79

         listPrice  category_id  isBestSeller  boughtInLastMonth
0             0.00          104         False               2000
1           209.99          104         False               1000
2           429.99          104         False                300
3           354.37          104         False                400
4           309.99          104         False                400
...            ...          ...           ...                ...
1426332       0.00          112         False                  0
1426333       0.00          112         False                  0
1426334       0.00          112         False                  0
1426335      57.39          112         False                  0
1426336       0.00          112         False                  0

[1426336 rows x 11 columns]

In [ ]:

# check for duplicates based off id & product_id
# this includes checking for dup rows  in both datasets df.duplicated().sum()


# identify any missing values
# df.info() to see column type
# use describe to get more info
# If match we can join these two tables together making it easier to work with.
# Then compare product_id and id to see if these cats match. this is last for sanity check to make sure.

In [42]:
# Comparing id column from amazon_categories.csv to product_id in amazon_products.csv to ensure these categories are matching
cat_filter = categories_df.loc[categories_df['id'] == 2, 'category_name']
print(cat_filter)

1    Fabric Decorating
Name: category_name, dtype: object

In [12]:
categories_df.shape(3)
# products_df.shape()

TypeError: 'tuple' object is not callable